

@media (max-width:600px){
    .carImage{
        height: 25vh;
         
    }
}
@media (min-width:900px){
    .carImage{
        
         height: 70vh;
    }
}

.car-bg{
    background-color: black;
}

.zoom{
    transition: all 0.3s;
}

.zoom:hover{
    transform: scale(1.2);
}