h2{
    font-family: 'Edu TAS Beginner', cursive;
font-family: 'Fasthand', cursive;
}

.title-text{
    color: rgb(207, 82, 50);
    font-weight: 600;
}

.navs{
    color: black ;
    font-weight: 500;
}

.navs:hover{
    color: rgb(207, 82, 50);
}